:root { 
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dark-blue-mainBG: hsl(217, 54%, 11%);
    --dark-blue-card: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
  
* {
    margin: 0; 
    padding:0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--dark-blue-mainBG);
    font-family: "Outfit", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.container {
    background-color: var(--dark-blue-card);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px;
}

.card {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.card-head {
    display: grid;
    max-width: 400px;
    border-radius: 7px;
}

.equilibrium-img {
    position: relative;
    max-width: 100%;
    border-radius: 7px;
}

.view-icon {
    position: absolute;
    place-self: center;
    opacity: 0%;
}

.card-head:hover {
    background-color: var(--cyan);
    cursor: pointer;
    > .view-icon {
        opacity: 100%;
    };
    > .equilibrium-img {
        opacity: 40%;
    };
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title {
    overflow-wrap: break-word;
    color: var(--White);
    font-weight: 600;
    font-size: larger;
}

.card-title:hover {
    cursor: pointer;
    color: var(--cyan);
}

p {
    overflow-wrap: break-word;
    font-size: 1rem;
    color: var(--soft-blue);
}

.time-val {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value {
    color: var(--cyan);
    font-weight: 600;
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.time-left {
    color: var(--soft-blue);
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

hr{
    background-color: var(--dark-blue-line);
    border-width: 0;
    height: 1px;
}

.author-avatar {
    height: 35px;
    border: 1px solid var(--White);
    border-radius: 3rem;
}

.author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.author-info a {
    text-decoration: none;
    color: var(--White);
}

.author-info a:hover {
    color: var(--cyan);
}